In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
#set up the ability to query a SQL database
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [4]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [5]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [6]:
# Create session from Python to the DB
session = Session(engine)
#Find start date and end date
start_date = session.query(Measurement.date, func.min(Measurement.date)).all()
end_date = session.query(Measurement.date, func.max(Measurement.date)).all()
print(start_date, end_date)

[('2010-01-01', '2010-01-01')] [('2017-08-23', '2017-08-23')]

In [7]:
#Extract June precipitation data
results_june_p = []
results_june_p = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==6).all()
#Save the query results as a Pandas DataFrame and set the index to the date column
df_june_p = pd.DataFrame(results_june_p, columns=['date','precipitation'])
df_june_p.set_index(df_june_p['date'], inplace=True)
# Sort the dataframe by date
df_june_p = df_june_p.sort_index()

#Extract December data
results_december_p = []
results_december_p = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date)==12).all()
#Save the query results as a Pandas DataFrame and set the index to the date column
df_december_p = pd.DataFrame(results_december_p, columns=['date','precipitation'])
df_december_p.set_index(df_december_p['date'], inplace=True)
# Sort the dataframe by date
df_december_p = df_december_p.sort_index()

In [8]:
#June precipitation (descriptional statistics)
df_june_p.describe()

       precipitation
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

In [9]:
#December precipitation (descriptional statistics)
df_december_p.describe()

       precipitation
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000

In [10]:
#Extract June temperature data
results_june_t = []
results_june_t = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()
#Save the query results as a Pandas DataFrame and set the index to the date column
df_june_t = pd.DataFrame(results_june_t, columns=['date','Temperature'])
df_june_t.set_index(df_june_t['date'], inplace=True)
# Sort the dataframe by date
df_june_t = df_june_t.sort_index()

#Extract December temperature data
results_december_t = []
results_december_t = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()
#Save the query results as a Pandas DataFrame and set the index to the date column
df_december_t = pd.DataFrame(results_december_t, columns=['date','Temperature'])
df_december_t.set_index(df_december_t['date'], inplace=True)
# Sort the dataframe by date
df_december_t = df_december_t.sort_index()

In [11]:
#June temperature (descriptional statistics)
df_june_t.describe()

       Temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [12]:
#December temperature (descriptional statistics)
df_december_t.describe()

       Temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000